
/*
/*Main
*/
.carrossel-card-bg{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 700px;
}    
.carrossel-card{
    width:  30%;
    margin: 0 auto;
}
/*
/*Ifooter
*/
.footer{
background-color: #343a40; 
color: white;
width:  100%;
min-height: 16rem;
}

.footer-tabela{
 background-color: red;   
}
/*
/*Institucional
*/
.respiro{
    margin: 8% 5% 0 5%;
}

.footer-tabela{
 background-color: red;   
}

/*
Menu Login/Cadastro
*/
.right-bar{
    color: white;
    padding-left: 140%;
    list-style: none;
}
.icon-login{
    padding-left: 145%;
    padding-top: 1%;
}
